<html>
    <head>

    </head>
    <body>
        <div class="header">
            <h1>Home</h1>
            <h1>My post</h1>
            <h1>New post</h1>
            <a class="profileShortcut">Profile</a>
        </div>
    </body>
    <style>
        .header{
            background-color: aqua;
        }
    </style>
</html>