<html>
    <head>
        <link rel="stylesheet" href="style/home.css">
        <script src="../public/js/home.js"></script>
        <script>
            var testPost = [
    {
        id:1,
        title:"Test title",
        date:Date.now(),
        lock_by:null,
        authorId:10,
        categoryId:1,
        content:"Content Content Content Content Content Content Content Content Content"
    },
    {
        id:2,
        title:"Test title",
        date:Date.now(),
        lock_by:null,
        authorId:10,
        categoryId:1,
        content:"Content2 Content2 Content2 Content2 Content2 Content2 Content2 Content2 Content2"
    }
]

var threads = testPost
            console.log(threads)
        </script>
    </head>
    <body>
        <div class="header">
            <h1>Home</h1>
            <h1>My post</h1>
            <h1>New post</h1>
            <a class="profileShortcut">Profile</a>
        </div>

        <ol>
            <li class="post">
                <h4 class="postTitle">Title</h4>
                <p class="postContent">Content here</p>
                <a class="postTag">Tag here</a>
            </li>
        </ol>
    </body>
</html>
