<html>
    <head>
        <link rel="stylesheet" href="style/home.css">
        <script src="../public/js/home.js"></script>
        <script>
            var testPost = [
    {
        id:1,
        title:"Test title",
        date:Date.now(),
        lock_by:null,
        authorId:10,
        categoryId:1,
        content:"Content Content Content Content Content Content Content Content Content"
    },
    {
        id:2,
        title:"Test title",
        date:Date.now(),
        lock_by:null,
        authorId:10,
        categoryId:1,
        content:"Content2 Content2 Content2 Content2 Content2 Content2 Content2 Content2 Content2"
    }
    
]

var threads = testPost
            console.log(threads)
        </script>
    </head>
    <body>
        <div class="header">
            <a href="http://localhost:8080/home"><h1>Home</h1></a>
            <a href="http://localhost:8080/postList"><h1>My post</h1></a>
            <a href="http://localhost:8080/new"><h1>New post</h1></a>
            <a class="profileShortcut">Profile</a>
        </div>

        <ol>
            <li class="post">
                <h4 class="postTitle">Title</h4>
                <p class="postContent">Content here</p>
                <a class="postTag">Tag here</a>
            </li>
        </ol>
    </body>
    <style>
        .header{
            background-color: aqua;
            display: inline-flex;
            width: 100%;
        }
        .header>a{
            margin-right: 50px;
            margin: 10px;
        }
        .profileShortcut{
            position: absolute;
            right: 3%;
            top: 5%;
            font-size: 30px;
            font-weight: bold;
        }
        body{
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: black;
            margin: 0px;
        }
    </style>
</html>
