<html>
    <head>
        <link rel="stylesheet" href="../public/login.css">
        <script type="text/javascript">
            function redirect(){
                window.location.href="http://localhost:8080/home";
            }
        </script>
    </head>
    <body>
        
        <form>
            <label for="id">ID</label>
            <input type="text" name="id">
            <label for="pass">Password</label>
            <input type="password" name="pass">
            <button onclick="redirect()">Submit</button>
        </form>
    </body>
</html>