<html>
    <head>
        <link rel="stylesheet" href="../public/login.css">
    </head>
    <body>
        <h1>LOGIN</h1>
        <form>
            <label for="id">ID</label>
            <input type="text" name="id">
            <label for="pass">Password</label>
            <input type="password" name="pass">
            <input type="submit">
        </form>
    </body>
</html>