<html>
    <head>
        <div class="header">
            <a href="http://localhost:8080/home"><h1>Home</h1></a>
            <a href="http://localhost:8080/postList"><h1>My post</h1></a>
            <a href="http://localhost:8080/new" href="http://localhost:8080/profile"><h1>New post</h1></a>
            <a class="profileShortcut">Profile</a>
        </div>
        <script>
            function check(){
                var title = document.getElementById("id").value;
                var content = document.getElementById("content").value;
                if(title.length>4 && content.length>10){
                    alert("Success")
                } else{
                    alert("Fail")
                }
            }
        </script>
    </head>
    <body>
        <form action="/new" method="post">
            <h3>Your new post:</h3><br>
            <div class="input">
                <input type="text" placeholder="Your title" id="title" name="title"><br><br>
                <textarea rows="5" cols="60" name="content" placeholder="Your post here" id="content"></textarea><br><br>                
                <div class="tagSelection">
                    <div>
                    <input type="radio" id="Question" name="tags" value="Question">
                    <label for="Question">Question</label><br>
                    </div>
                    <div>
                    <input type="radio" id="Wholesome" name="tags" value="Wholesome">
                    <label for="Wholesome">Wholesome</label><br>
                    </div>
                    <div>
                    <input type="radio" id="News" name="tags" value="News">
                    <label for="News">News</label>
                    </div>
                    <div>
                    <input type="radio" id="Confession" name="tags" value="Confession">
                    <label for="Confession">Confession</label>
                    </div>
                </div><br><br>
                <button class="submit" onclick="check()">Submit</button><br>
            </div>
        </form>
    </body>
    <style>
        .header{
            background-color: aqua;
            display: inline-flex;
            width: 100%;
            border-radius: 5px;
        }
        .header>a{
            margin-right: 50px;
            margin: 10px;
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        .profileShortcut{
            position: absolute;
            right: 3%;
            top: 5%;
            font-size: 30px;
            font-weight: bold;
        }
        body{
            margin: 10px;
        }
        .tagSelection{
            display: inline-flex;
            flex-direction: column;
        }
        a{
            text-decoration: none;
            color: black;
            margin: 0px;
        }
        form{
            position: absolute;
            left: 30%;
            top: 20%;
            background-color: aquamarine;
            padding: 50px;
            border-radius: 20px;
            border: 5px solid black;
        }
    </style>
</html>