<html>
    <head>
        <div class="header">
            <a href="http://localhost:8080/home"><h1>Home</h1></a>
            <a href="http://localhost:8080/postList"><h1>Post List</h1></a>
            <a href="http://localhost:8080/new"><h1>New post</h1></a>
            <a href="http://localhost:8080/search"><h1>Search post</h1></a>
            <a class="profileShortcut" href="http://localhost:8080/profile">Profile</a>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </div>
    </head>
    <body>
        <div class="dropdown">
            <button class="dropbtn">Filter tag</button>
            <div class="content">
                <%
                if(categories.length>0){
                    var i=1;
                    categories.forEach(function(category){
                %>
                <button formaction=""><a> <%=category.name%></a></button>
                <%  i++; }) %>
                <% } else{ %>
                    <a>No categories found</a>
                <% } %>
            </div>
        </div>
    </body>
    <style>
        ul{
            margin: auto;
            width: 80%;
        }
        li{
            list-style: none;
            margin: 10px;
        }
        .post{
            background-color: wheat;
            width: 80%;
            border-radius: 20px;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 15px;
            display: none;
        }
        .title{
            display: inline-flex;
            flex-direction: row;
        }
        .vote{
            display: inline-flex;
            flex-direction: column;
        }
        .postTitle{
            margin: 15px;
        }
        #upvote:hover{
            color: red;
        }
        #downvote:hover{
            color: blue;
        }
        .tags{
            margin: 20px;
            
        }
        h3{
            color: red;
        }
        .show{
            display: inline-flex;
        }
        .tags>a{
            background-color: blue;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        .postInfo{
            display: inline-flex;
            flex-direction: row;
        }
        .postInfo>a{
            margin:0px 15px 0 15px;
        }
        p{
            border: 1px solid black;
            width: 90%;
            padding: 5px;
            margin: auto;
        }
        .header{
            background-color: aqua;
            display: inline-flex;
            width: 100%;
            border-radius: 5px;
        }
        .header>a{
            margin-right: 50px;
            margin: 10px;
            
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        .profileShortcut{
            position: absolute;
            right: 3%;
            top: 5%;
            font-size: 30px;
            font-weight: bold;
        }
        body{
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: black;
            margin: 0px;
        }
        .dropbtn{
            background-color: rgb(0, 67, 67);
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .dropdown{
            position: relative;
            display: inline-block;
            margin: 15px;
        }
        .content{
            display: none;
            position: absolute;
            z-index: 1;
        }
        .content button{
            color: black;
            background-color: lightgray;
            text-decoration: none;
            display: block;
            padding: 12px 16px;
            text-decoration: none;
            border-style: solid;
            border: 1px black solid;
            width: 100%;
        }
        .dropdown:hover .content{
            display: block;
            
            
        }
        .content button:hover{
            background-color: azure;
            cursor: pointer;
            border: 1px lightgray solid;
        }
        .posts{
            overflow: hidden;
        }
        
    </style>
</html>