<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <a class="backBtn" href="http://localhost:8080/home">Back</a>
        </div>
        <div class="box">
            <div class="name">
                
                <h1><%= name%></h1>
                <h2><%= date%></h2>
                
            </div>
            <div class="posts">
                <ul>
                    
                        <%
                        if(posts.length>0){
                            var i=1;
                            posts.forEach(function(data){
                        %>
                        <li>
                        <div class="post">
                            <h3><%= data.title%></h3>
                            <div class="postDetail">
                                <a><%= data.created_date%></a>
                            </div>
                        </div>
                    </li>        
                        <%  i++; }) %>
                        <% } else{ %>
                            <h1>No post</h1>
                        <% } %>
                    
                </ul>
                
            </div>
        </div>

    </body>
    <style>
        body{
           margin: 15px; 
        }
        #lock{
            color:yellow;
        }
        .backBtn{
            margin:15px;
            text-decoration: none;
            color: black;
        }
        .box{
            background-color: rgb(189, 186, 186);
            width: 90%;
            margin: 0 auto 0 auto;
            border-radius: 20px;
        }
        .name{
            background-color: aqua;
            width: 100%;
            color: rgb(0, 0, 0);
            text-align: center;
            border-radius: 25px;
            margin: 0 auto 0 auto;
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        li{
            list-style: none;
            margin: 4px auto 4px auto;
            color: white;
        }
        .post:hover{
            background-color: #818181;
        }
        h3{
            size: 1.5em;
            font-weight: bold;
        }
        .postDetails{
            display: inline-flex;
            align-items: flex-end;
        }
        .post{
            display: flex;
            flex-direction: column;
            align-items: left;
            background-color: #353739;
            border-radius: 5px;
            padding-left: 15px;
            padding-bottom: 5px;
            width: 90%;
        }
       
    </style>
</html>