<html>
    <head>
        <div class="header">
            <a href="http://localhost:8080/home"><h1>Home</h1></a>
            <a href="http://localhost:8080/postList"><h1>Post list</h1></a>
            <a href="http://localhost:8080/new" ><h1>New post</h1></a>
            <a href="http://localhost:8080/search"><h1>Search post</h1></a>
            <a class="profileShortcut" href="http://localhost:8080/profile">Profile</a>
        </div>
        </script>
    </head>
    <body>
                <ul>
                    <li>

                
                <%
                if(posts.length>0){
                    var i=1;
                    posts.forEach(function(data){
                %>
                <div class="post">
                    <div class="title">
                        <h2 class="postTitle"><%= data.title%></h2>
                        <% if(data.lock_by != null){ %>
                        <h3>(This post is locked)</h3><br>
                        <h4>Locked by user id: <%= data.lock_by%></h4>
                        <% } %>
                    </div>
                    <p class="postContent"><%= data.content%>
                    </p>
                    <div class="Tags">
                        <a>Confession</a>
                    </div>
                    <div class="postInfo">
                        <a><%= data.created_date%></a>
                    </div>
                </div>
                <%  i++; }) %>
                <% } else{ %>
                    <h1>No post</h1>
                <% } %>
            </li>
        </ul>
    </body>
    <style>
        .header{
            background-color: aqua;
            display: inline-flex;
            width: 100%;
            border-radius: 5px;
        }
        .header>a{
            margin-right: 50px;
            margin: 10px;
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        .profileShortcut{
            position: absolute;
            right: 3%;
            top: 5%;
            font-size: 30px;
            font-weight: bold;
        }
        body{
            margin: 10px;
        }
        .tagSelection{
            display: inline-flex;
            flex-direction: column;
        }
        input[type="text"]{
            width: 500px;
        }
        input[type="submit"]{
            background-color: black;
            color: white;
            padding: 5px 15px 5px 15px;
            margin-left: 200px;
        }
        input[type="submit"]:hover{
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: black;
            margin: 0px;
        }
        form{
            margin: 50px auto auto auto;
            width: fit-content;
            background-color: aquamarine;
            padding: 50px;
            border-radius: 20px;
            border: 5px solid black;
        }
        .post{
            background-color: lightgray;
            width: 80%;
            border-radius: 20px;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 15px;
        }
        .title{
            display: inline-flex;
            flex-direction: row;
        }
        .vote{
            display: inline-flex;
            flex-direction: column;
        }
        .postTitle{
            margin: 15px;
        }
        #upvote:hover{
            color: red;
        }
        #downvote:hover{
            color: blue;
        }
        .tags{
            margin: 20px;
            
        }
        h3{
            color: red;
        }
        .tags>a{
            background-color: blue;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        .postInfo{
            display: inline-flex;
            flex-direction: row;
        }
        .postInfo>a{
            margin:0px 15px 0 15px;
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        .comment{
            border: none;
            background-color: lightgray;
        }
        .comment:hover{
            background-color: dimgray;
            padding-left: 3px;
            padding-right: 3px;
            border: black 1px solid;
            border-radius: 5px;
            cursor: pointer;
        }
        ul{
            margin: auto;
            width: 80%;
        }
        li{
            list-style: none;
            margin: 10px;
        }
    </style>
</html>